.story_book {
  display: flex;
  justify-content: center;
  padding: 0px;
  align-items: center;
  width: 100%;
}

.story_img {
  display: flex;
  text-align: center;
}

.story_img img {
  width: 150px;
  height: 210px;
  margin-left: 9px;
  border-radius: 12px;
}

.story_img h3 {
  position: absolute;
  text-align: center;
  color: black;
}
